<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Peças</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="pieces">
    <div class="piece" *ngFor="let item of piece | orderBy:'namePiece'">
      <div (click)="visualizePiece(item)" tappable>
        <div class="image" [ngStyle]="{'backgrong-image': 'url(' + item.imagePiece + ')'}"></div>
        <div class="title">{{item.namePiece}}</div>
        <div class="number">{{item.numberPiece}}</div>
        <div class="importance">{{item.importancePiece}}</div>
        <div class="description">{{item.descriptionPiece}}</div>
        <div class="collection">{{item.collectionPiece}}</div>
        <div class="subCollection" *ngFor="let sub of item.subCollectionPiece"></div>
        <div class="paleontSite">{{item.paleontSitePiece}}</div>
        <div class="outcrop">{{item.outcropPiece}}</div>          
        <div class="partition">{{item.partitionPiece}}</div>
        <div class="physicalLoc">{{item.physicalLocPiece}}</div>
        <div class="collector">{{item.collectorPiece}}</div>
        <div class="status">{{item.statusPiece}}</div>
      </div>
    </div>
  </div>
</ion-content>
